@import '~/sass/main';

.wrapper {
  @extend %flex-col;
  @extend %row-gap-16;

  max-width: 448px;
}

.form {
  @extend %relative;
}

.send-btn {
  @extend %absolute;

  right: 0;
  width: 55px;
  height: 55px;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(1.3);
  }
}

.message {
  @extend %absolute;
  @extend %top-0;
  @extend %width-full;
  @extend %bg-white-f4;
  @extend %text-blue-2e;
  @extend %br-14;
  @extend %text-center;

  padding: 15px;
  transition: opacity 0.3s, visibility 0.3s;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
