@import '~/sass/main';

.grid-layout {
  @include media(0, $md) {
    row-gap: 32px;
  }

  grid-area: span 1 / span 2 / span 1 / span 2;
}

.poster-wrap {
  @extend %overflow-hidden;

  border-radius: 32px 32px 0 0;
}

.poster-image {
  max-height: 219.38px;
}

.card-detail {
  @extend %flex-col;
  @extend %align-start;
  @extend %row-gap-8;

  @include media($md) {
    row-gap: 12px;
  }

  padding: 32px 32px 40px;

  div {
    @extend %text-large;
    @extend %text-500;
  }

  p {
    @extend %overflow-hidden;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}
