@import '~/sass/main';

.slider {
  @extend %width-full;
  @extend %white-space-nowrap;
  @extend %overflow-visible;

  @include media(0, $md) {
    padding-bottom: 90px;
  }

  @include media($sm) {
    width: 67vw;
  }

  @include media($md) {
    width: 520px;
  }

  transition: transform 0.5s;
}

.slider-card {
  @extend %display-inline-block;
  @extend %width-full;

  margin-right: 24px;
}

.card-wrap {
  @extend %flex-col;
  @extend %row-gap-32;
  @extend %white-space-normal;

  @include media($sm) {
    padding-top: 38px;
    padding-bottom: 38px;
  }

  @include media($md) {
    padding-top: 52px;
    padding-bottom: 52px;
  }

  padding: 30px 32px;
  cursor: auto;
}

.brand-image {
  @extend %width-fit-content;

  height: 46px;
}

.card-name {
  @extend %flex;
  @extend %align-center;
  @extend %column-gap-16;
}

.avatar-image {
  width: 72px;
}

.name {
  @extend %text-blue-2e;
  @extend %text-large;
}

.company {
  @extend %text-gray-9c;
}

.navigation {
  @extend %absolute;
  @extend %flex;

  @include media(0, $md) {
    left: 50%;
    bottom: 0;

    transform: translateX(-50%);
  }

  @include media($sm) {
    column-gap: 64px;
  }

  @include media($md) {
    right: 22px;
    column-gap: 34px;
  }

  @include media($lg) {
    right: 24px;
  }

  column-gap: 44px;
}

.chevron-btn {
  @extend %aspect-ratio-square;
  @extend %bg-white-fc;
  @extend %br-99;
  @extend %card-box-shadow;
  @extend %transition-transform-200;

  width: 56px;

  &:hover {
    transform: scale(0.95);
  }
}
