* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  @extend %bg-white-fc;
  @extend %text-black-21;
  @extend %text-base;
  @extend %line-height-130;

  font-family: 'Roboto', sans-serif;
}

a,
button {
  @extend %text-500;
  @extend %text-center;

  color: inherit;
}

a {
  text-decoration: none;
}

button,
hr,
iframe {
  border: none;
}

button {
  @extend %cursor-pointer;

  background: none;
  font: inherit;
}

img,
svg {
  @extend %overflow-hidden;

  vertical-align: bottom;
}

img {
  @extend %object-fit-cover;
}

input,
textarea {
  @extend %width-full;
  @extend %border;
  @extend %br-14;

  height: 54px;
  padding: 14px;
  border-color: $white-dd;
  outline: none;
  font: inherit;
  transition: border-color 0.2s;

  &:hover {
    @extend %bc-gray-9c;
  }

  &:focus {
    @extend %bc-blue-43;
  }

  &::placeholder {
    @extend %text-gray-9c;
  }
}

h1 {
  @extend %font-size-h1;
}

h2 {
  @include media($md) {
    font-size: 3.516rem;
  }

  font-size: 3.125rem;
}

h3 {
  @include media($md) {
    font-size: 2.813rem;
  }

  font-size: 2.5rem;
}

iframe {
  @extend %aspect-ratio-16-9;

  width: 940px;
}

p {
  @extend %line-height-150;
}

ul {
  list-style: none;
}
