* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  @extend %bg-white-fc;
  @extend %text-base;
  @extend %text-black-21;

  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
}

a,
button {
  @extend %text-500;
  @extend %text-center;

  color: inherit;
}

a {
  @extend %text-hover-blue-43;

  text-decoration: none;
}

button,
hr,
iframe {
  border: none;
}

button {
  @extend %cursor-pointer;

  background: none;
  font: inherit;
}

img,
svg {
  @extend %overflow-hidden;

  vertical-align: bottom;
}

input,
textarea {
  @extend %width-full;
  @extend %border;
  @extend %br-14;

  height: 54px;
  padding: 0 14px;
  border-color: $white-dd;
  outline: none;
  font: inherit;
  transition: border-color 0.2s;
  will-change: border-color;

  &:hover {
    @extend %bc-gray-9c;
  }

  &:focus {
    @extend %bc-blue-43;
  }

  &::placeholder {
    @extend %text-gray-9c;
  }
}

h1 {
  @include media($md) {
    font-size: 4.395rem;
  }

  font-size: 3.906rem;
}

h2 {
  @include media($md) {
    font-size: 3.516rem;
  }

  font-size: 3.125rem;
}

h3 {
  @include media($md) {
    font-size: 2.813rem;
  }

  font-size: 2.5rem;
}

iframe {
  width: 940px;
  aspect-ratio: 16 / 9;
}

p {
  line-height: 1.5;
}

section {
  @include media($sm) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @include media($md) {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  @include media($lg) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  padding-top: 56px;
  padding-bottom: 56px;
}

ul {
  list-style: none;
}
