// Position

%relative {
  position: relative;
}

%absolute {
  position: absolute;
}

%fixed {
  position: fixed;
}

// Position properties

%top-0 {
  top: 0;
}

// Box model properties

%width-full {
  width: 100%;
}

%width-fit-content {
  width: fit-content;
}

%height-full {
  height: 100%;
}

// Display

%display-none {
  display: none;
}

%flex {
  display: flex;
}

%flex-col {
  @extend %flex;
  flex-direction: column;
}

%justify-center {
  justify-content: center;
}

%justify-self-center {
  justify-self: center;
}

%justify-between {
  justify-content: space-between;
}

%justify-self-end {
  justify-self: end;
}

%align-center {
  align-items: center;
}

%algin-self-center {
  align-self: center;
}

%flex-center {
  @extend %flex;
  @extend %justify-center;
  @extend %align-center;
}

%grid {
  display: grid;
}

// Gap

%column-gap-8 {
  column-gap: 8px;
}

%row-gap-8 {
  row-gap: 8px;
}

%gap-8 {
  @extend %column-gap-8;
  @extend %row-gap-8;
}

%column-gap-12 {
  column-gap: 12px;
}

%row-gap-12 {
  row-gap: 12px;
}

%gap-12 {
  @extend %column-gap-12;
  @extend %row-gap-12;
}

%column-gap-16 {
  column-gap: 16px;
}

%row-gap-16 {
  row-gap: 16px;
}

%gap-16 {
  @extend %column-gap-16;
  @extend %row-gap-16;
}

%column-gap-24 {
  column-gap: 24px;
}

%row-gap-24 {
  row-gap: 24px;
}

%gap-24 {
  @extend %column-gap-24;
  @extend %row-gap-24;
}

%column-gap-32 {
  column-gap: 32px;
}

%row-gap-32 {
  row-gap: 32px;
}

%gap-32 {
  @extend %column-gap-32;
  @extend %row-gap-32;
}

%column-gap-40 {
  column-gap: 40px;
}

%row-gap-40 {
  row-gap: 40px;
}

%gap-40 {
  @extend %column-gap-40;
  @extend %row-gap-40;
}

%column-gap-48 {
  column-gap: 48px;
}

%row-gap-48 {
  row-gap: 48px;
}

%gap-48 {
  @extend %column-gap-48;
  @extend %row-gap-48;
}

// Padding

%container-padding {
  @include media($md) {
    padding-left: $px-md;
    padding-right: $px-md;
  }

  @include media($lg) {
    padding-left: $px-lg;
    padding-right: $px-lg;
  }

  padding-left: $px-sm;
  padding-right: $px-sm;
}

// Margin

%margin-0-auto {
  margin: 0 auto;
}

// Background Color

%bg-black-21 {
  background-color: $black-21;
}

%bg-blue-2e {
  background-color: $blue-2e;
}

%bg-blue-43 {
  background-color: $blue-43;
}

%bg-white-e6 {
  background-color: $white-e6;
}

%bg-white-fc {
  background-color: $white-fc;
}

%bg-white-f4 {
  background-color: $white-f4;
}

// Text Color

%text-black-21 {
  color: $black-21;
}

%text-blue-2e {
  color: $blue-2e;
}

%text-blue-43 {
  color: $blue-43;
}

%text-gray-71 {
  color: $gray-71;
}

%text-gray-9c {
  color: $gray-9c;
}

%text-white-fc {
  color: $white-fc;
}

// Border

%border-width-1 {
  border-width: 1px;
}

%border-style-solid {
  border-style: solid;
}

%border {
  @extend %border-width-1;
  @extend %border-style-solid;
}

// Border Color

%bc-blue-2e {
  border-color: $blue-2e;
}

%bc-gray-9c {
  border-color: $gray-9c;
}

%bc-blue-43 {
  border-color: $blue-43;
}

%bc-white-e6 {
  border-color: $white-e6;
}

// Border Radius

%br-14 {
  border-radius: 14px;
}

%br-32 {
  border-radius: 32px;
}

%br-99 {
  border-radius: 99px;
}

// Box Shadow

%card-box-shadow {
  box-shadow: $card-box-shadow;
}

// Font Size

%text-large {
  @include media($md) {
    font-size: 2.25rem;
  }

  font-size: 2rem;
}

%text-base {
  @include media($md) {
    font-size: 1.8rem;
  }

  font-size: 1.6rem;
}

%text-small {
  @include media($md) {
    font-size: 1.414rem;
  }

  font-size: 1.28rem;
}

// Font Weight

%text-700 {
  font-weight: 700;
}

%text-500 {
  font-weight: 500;
}

%text-400 {
  font-weight: 400;
}

// Font Style

%text-italic {
  font-style: italic;
}

// Text Algin

%text-center {
  text-align: center;
}

// Cursor

%cursor-pointer {
  cursor: pointer;
}

// Z-index

%z-index-99 {
  z-index: 99;
}

%z-index--1 {
  z-index: -1;
}

// Overflow

%overflow-hidden {
  overflow: hidden;
}

// Inset
%inset-0 {
  inset: 0;
}

// Object Fit
%object-fit-cover {
  object-fit: cover;
}

// Customize

%container {
  @extend %container-padding;
  @extend %margin-0-auto;

  max-width: $container-max-width;
}

%nav-item {
  height: 60px;
  font-size: 1.8rem;
}
