// Position

%relative {
  position: relative;
}

%absolute {
  position: absolute;
}

// Position properties

%top-0 {
  top: 0;
}

// Box model properties

%w-full {
  width: 100%;
}

%h-full {
  height: 100%;
}

// Display

%hidden {
  display: none;
}

%flex {
  display: flex;
}

%flex-col {
  @extend %flex;
  flex-direction: column;
}

%justify-center {
  justify-content: center;
}

%justify-between {
  justify-content: space-between;
}

%align-center {
  align-items: center;
}

%flex-center {
  @extend %flex;
  @extend %justify-center;
  @extend %align-center;
}

%grid {
  display: grid;
}

// Gap

%column-gap-16 {
  grid-column-gap: 16px;
}

%row-gap-16 {
  grid-row-gap: 16px;
}

%gap-16 {
  @extend %column-gap-16;
  @extend %row-gap-16;
}

// Padding

%padding {
  @include media($lg) {
    padding-left: $px-lg;
    padding-right: $px-lg;
  }

  @include media($md, $lg) {
    padding-left: $px-md;
    padding-right: $px-md;
  }

  padding-left: $px-sm;
  padding-right: $px-sm;
}

// Background Color

%bg-black-21 {
  background-color: $black-21;
}

%bg-blue-2e {
  background-color: $blue-2e;
}

%bg-blue-43 {
  background-color: $blue-43;
}

%bg-white-e6 {
  background-color: $white-e6;
}

%bg-white-fc {
  background-color: $white-fc;
}

%bg-white-f4 {
  background-color: $white-f4;
}

// Text Color

%text-black-21 {
  color: $black-21;
}

%text-blue-2e {
  color: $blue-2e;
}

%text-blue-43 {
  color: $blue-43;
}

%text-gray-71 {
  color: $gray-71;
}

%text-gray-9c {
  color: $gray-9c;
}

%text-white-fc {
  color: $white-fc;
}

// Border

%border {
  border-width: 1px;
  border-style: solid;
}

// Border Color

%bc-blue-2e {
  border-color: $blue-2e;
}

%bc-gray-9c {
  border-color: $gray-9c;
}

%bc-blue-43 {
  border-color: $blue-43;
}

// Border Radius

%br-14 {
  border-radius: 14px;
}

%br-99 {
  border-radius: 99px;
}

// Font Size

%text-large {
  @include media($md) {
    font-size: 2.25rem;
  }

  font-size: 2rem;
}

%text-base {
  @include media($md) {
    font-size: 1.8rem;
  }

  font-size: 1.6rem;
}

%text-small {
  @include media($md) {
    font-size: 1.414rem;
  }

  font-size: 1.28rem;
}

// Font Weight

%text-700 {
  font-weight: 700;
}

%text-500 {
  font-weight: 500;
}

%text-400 {
  font-weight: 400;
}

// Font Style

%text-italic {
  font-style: italic;
}

// Text Algin

%text-center {
  text-align: center;
}

// Z-index

%z-index-99 {
  z-index: 99;
}

%z-index--1 {
  z-index: -1;
}

// Customize

%container {
  @extend %padding;
  max-width: $container-max-width;
  margin: 0 auto;
}

%nav-item {
  height: 60px;
  font-size: 1.8rem;
}
