// Breakpoints

$sm: 480px;
$md: 768px;
$lg: 992px;

// Color

$black-21: #21294d;
$blue-2e: #2e51e8;
$blue-43: #4367ff;
$gray-71: #717084;
$gray-9c: #9c9baa;
$white-e6: #e6edff;
$white-fc: #fcfcff;
$white-f4: #f4f6ff;
$white-dd: #dddde0;

// Box Model

$container-max-width: 1272px;
$px-sm: 18px;
$px-md: 22px;
$px-lg: 24px;

// Box Shadow

$card-box-shadow: 3px 3px 20px rgba(33, 41, 77, 0.15);
