@import '~/sass/main';

.button {
  @extend %border;
  @extend %br-14;
  @extend %line-height-100;

  @include media($sm) {
    display: inline-block;
  }

  display: block;
  padding: 22px 24px;

  &:hover {
    scale: 0.98;
  }

  &.primary {
    @extend %bg-blue-2e;
    @extend %text-white-fc;
    @extend %bc-blue-2e;

    transition: background-color 0.2s, border-color 0.2s, scale 0.2s;

    &:hover {
      @extend %bg-blue-43;
      @extend %bc-blue-43;
    }
  }

  &.secondary {
    @extend %bg-white-fc;
    @extend %bc-gray-9c;

    transition: border-color 0.2s, color 0.2s, scale 0.2s;

    &:hover {
      @extend %text-blue-2e;
      @extend %bc-blue-2e;
    }
  }

  &.small {
    padding: 14px 16px;
    border-radius: 12px;
  }
}

.fit {
  width: fit-content;
}
