@import '~/sass/main';

.highlight-blue-43 {
  @extend %text-blue-43;
}

.section-wrapper {
  @extend %bg-white-f4;
}

.section-container {
  @extend %grid;
  @extend %gap-40;
  @extend %container;
}

.section-heading {
  @extend %flex-col;
  @extend %row-gap-8;

  max-width: 648px;

  &.text-center {
    @extend %text-center;
  }
}

.section-title {
  @extend %text-blue-2e;
  @extend %text-700;
}

.footer-title {
  @extend %text-blue-2e;
  @extend %text-large;
  @extend %text-500;
}

.card {
  @extend %flex-col;
  @extend %justify-between;
  @extend %bg-white-fc;
  @extend %border;
  @extend %bc-white-e6;
  @extend %br-32;
  @extend %card-box-shadow;
  @extend %cursor-pointer;

  transition: border-color 0.3s, transform 0.3s;
  will-change: border-color, transform;
}

.rotate-animated {
  transition: rotate 0.3s;
  will-change: rotate;
}

.svg-animated {
  transition: filter 0.2s, scale 0.2s;
  will-change: filter, scale;

  &:hover {
    filter: brightness(1.15);
    scale: 0.98;
  }
}
