@import '~/sass/main';

.link-item {
  @extend %text-400;
}

.wrapper {
  @extend %flex;
  @extend %justify-between;

  @include media(0, $lg) {
    flex-direction: column;
    align-items: center;
    row-gap: 56px;
  }
}

.left {
  @extend %flex-col;
  @extend %row-gap-16;

  @include media(0, $lg) {
    align-items: center;

    p {
      text-align: center;
    }
  }

  .link-item {
    @extend %text-blue-2e;
    @extend %text-hover-blue-43;
  }
}

.social-wrap {
  @extend %flex;
  @extend %column-gap-8;
}

.social-item {
  @extend %flex-center;
  @extend %aspect-ratio-square;
  @extend %bg-blue-2e;
  @extend %br-999;
  @extend %transition-background-color-200;

  width: 34px;

  &:hover {
    @extend %bg-blue-43;
  }
}

.link-group {
  @extend %flex-col;
  @extend %row-gap-16;
}

.link-wrap {
  @extend %grid;
  @extend %column-gap-40;
  @extend %row-gap-16;

  grid-template-columns: repeat(2, auto);
  justify-items: start;
}
