@import '~/sass/main';

.wrapper {
  @extend %container-padding;
  @extend %bg-white-fc;

  @include media(0, $lg) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 32px;
    z-index: -1;
    visibility: hidden;
    transform: translateY(-100%);
  }

  @include media($lg) {
    display: flex;
    column-gap: 40px;
    padding: 0;
  }
}

.transition {
  transition: transform 0.3s ease-in, visibility 0.3s ease-in;
  will-change: transform, visibility;
}

.open {
  visibility: visible;
  transform: translateY(0);
}
