@import '~/sass/main';

.wrapper {
  @extend %bg-black-21;

  @include media($sm) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include media($md) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include media($lg) {
    padding-left: 22px;
    padding-right: 22px;
  }

  padding: 30px 21px;
  border-radius: 30px;
}

.content {
  @extend %flex-col;
  @extend %align-center;
  @extend %margin-0-auto;
  @extend %text-white-fc;
  @extend %text-center;

  row-gap: 26px;
  max-width: 600px;
}
