@import '~/sass/main';

.wrapper {
  @extend %grid;

  @include media($lg) {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding-top: 60px;
  }

  @include media($sm, $lg) {
    gap: 22px;
  }

  @include media($md, $lg) {
    padding-top: 36px;
  }

  @include media($sm, $md) {
    padding-top: 32px;
  }

  grid-template-columns: 1fr;
  gap: 40px;
  padding-top: 28px;

  img {
    @extend %justify-self-center;

    @include media($md) {
      max-width: 100%;
    }

    @include media($sm, $md) {
      max-width: 90%;
    }

    @include media($sm) {
      width: 602px;
    }

    width: 600px;
    max-width: 95%;
  }
}

.heading {
  @extend %flex-col;
  @extend %algin-self-center;

  @include media(0, $lg) {
    align-items: center;
    text-align: center;
  }

  gap: 32px;
}

.text-wrap {
  @extend %flex-col;
  @extend %gap-16;

  h1 {
    @include media($lg) {
      font-size: 5.493rem;
    }
    span {
      @extend %text-blue-2e;
    }
  }
}

.btn-wrap {
  @extend %flex;
  @extend %gap-16;

  @include media(0, $sm) {
    flex-direction: column;
    width: 100%;
  }
}
