@import '~/sass/main';

.desktop {
  @extend %flex;
  @extend %justify-self-end;
  @extend %align-center;
  @extend %column-gap-16;

  @include media(0, $lg) {
    display: none;
  }
}

.responsive {
  @include media($lg) {
    display: none;
  }

  display: block;
}

.contact {
  @extend %flex;
  @extend %align-center;
  @extend %nav-item;
  @extend %text-hover-blue-2e;

  @include media($lg) {
    height: 100%;
    margin-bottom: 0;
  }

  column-gap: 6px;
  margin-bottom: 6px;
}
