@import '~/sass/main';

.loader {
  @extend %absolute;
  @extend %border-style-solid;
  @extend %bc-white-e6;
  @extend %br-999;

  width: 48px;
  height: 48px;
  border-width: 5px;
  border-bottom-color: transparent;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  100% {
    rotate: 360deg;
  }
}
