@import '~/sass/main';

.grid-layout {
  @extend %gap-40;

  @include media($lg) {
    grid-template-columns: minmax(400px, 0.65fr) 1fr;
  }
}

.work-detail {
  @extend %flex-col;
  @extend %algin-self-center;

  @include media($sm) {
    align-items: flex-start;
  }

  row-gap: 44px;
}

.check-wrap {
  @extend %flex-col;
  @extend %row-gap-16;

  @include media(0, $lg) {
    row-gap: 22px;
  }
}

.check-block {
  @extend %flex;
  @extend %align-center;
  @extend %column-gap-16;
}

.poster-size {
  @extend %height-full;
}
