@import '~/sass/main';

.wrapper {
  @extend %top-0;
  @extend %bg-white-fc;
  @extend %z-index-99;

  position: sticky;
  border-bottom: 1px solid $white-e6;
}

.container {
  @extend %flex;
  @extend %justify-between;
  @extend %container;
  @extend %bg-white-fc;

  @include media($lg) {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    height: 68px;
  }

  height: 56px;
}

.logo {
  align-self: center;
}
