@import '~/sass/main';

.wrapper {
  @extend %top-0;
  @extend %bg-white-fc;
  @extend %z-index-99;

  @include media($lg) {
    height: 69px;
  }

  position: sticky;
  height: 57px;
  border-bottom: 1px solid $white-e6;
}

.container {
  @extend %flex;
  @extend %justify-between;
  @extend %container;
  @extend %h-full;
  @extend %bg-white-fc;

  @include media($lg) {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }
}

.logo {
  align-self: center;
}
